<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs %>
  </head>
  <body>
    <% include templates/layout.ejs %>
    <script type="text/javascript">
      $('#header-title').text("购物车");
      $('#menu-cart').addClass('active');
    </script>

    <div class="content">
      <div class="segmented-control">
        <a class="control-item Books" href="#Books">全部图书(10)</a>
        <a class="control-item BooksOnSale" href="#BooksOnSale">降价图书(88)</a>
        <a class="control-item BooksInNervous" href="#BooksInNervous">库存紧张(88)</a>
      </div>

      <div class="card">
        <ul class="table-view booklist control-content" id="Books">
          <% for(var i = 0; i < books.length; i++) { %>
          <li class="table-view-cell">
            <a href="/book/cart/Books/<%= books[i].id %>" data-ignore="push">
              <div class="check icon-radio-unchecked"></div>
              <div class="image">
                <img src="<%= books[i].img %>">
              </div>
              <div class="info">
                <div class="id"><%= books[i].id %></div>
                <div class="bookname"><%= books[i].name %></div>
                <div class="other"><%= books[i].author %> [<%= books[i].type %>]</div>
                <div class="other">
                  <% var p = books[i].point; %>
                  <% for(var j = 0; j < 5; j++) { %>
                    <% if(p> 1) { %>
                      <span class="star icon-star3"></span>
                      <% p--; %>
                    <% } else if(p == 0.5) { %>
                      <span class="star icon-star2"></span>
                      <% p = 0; %>
                    <% } else { %>
                      <span class="star icon-star"></span>
                    <% } %>
                  <% } %>
                  (<%= books[i].pointNum %>)
                </div>
              </div>
              <div class="edit">
                ￥<%= books[i].price %><br/>
                <% if(books[i].oldprice != -1) { %>
                <span class="oldPrice">￥<%= books[i].oldprice %></span>
                <div class="line"></div>
                <% } %>
                x <%= books[i].number %>
              </div>
            </a>
          </li>
          <% } %>
        </ul>

        <ul class="table-view booklist control-content" id="BooksOnSale">
          <% for(var i = 0; i < books.length; i++) { %>
          <% if(books[i].oldprice != -1) { %>
          <li class="table-view-cell">
            <a href="/book/cart/BooksOnSale/<%= books[i].id %>" data-ignore="push">
              <div class="check icon-radio-unchecked"></div>
              <div class="image">
                <img src="<%= books[i].img %>">
              </div>
              <div class="info">
                <div class="id"><%= books[i].id %></div>
                <div class="bookname"><%= books[i].name %></div>
                <div class="other"><%= books[i].author %> [<%= books[i].type %>]</div>
                <div class="other">
                  <% var p = books[i].point; %>
                  <% for(var j = 0; j < 5; j++) { %>
                    <% if(p> 1) { %>
                      <span class="star icon-star3"></span>
                      <% p--; %>
                    <% } else if(p == 0.5) { %>
                      <span class="star icon-star2"></span>
                      <% p = 0; %>
                    <% } else { %>
                      <span class="star icon-star"></span>
                    <% } %>
                  <% } %>
                  (<%= books[i].pointNum %>)
                </div>
              </div>
              <div class="edit">
                ￥<%= books[i].price %><br/>
                <span class="oldPrice">￥<%= books[i].oldprice %></span>
                <div class="line"></div>
                x <%= books[i].number %>
              </div>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>

        <ul class="table-view booklist control-content" id="BooksInNervous">
          <% for(var i = 0; i < books.length; i++) { %>
          <% if(books[i].inNervous == true) { %>
          <li class="table-view-cell">
            <a href="/book/cart/BooksInNervous/<%= books[i].id %>" data-ignore="push">
              <div class="check icon-radio-unchecked"></div>
              <div class="image">
                <img src="<%= books[i].img %>">
              </div>
              <div class="info">
                <div class="id"><%= books[i].id %></div>
                <div class="bookname"><%= books[i].name %></div>
                <div class="other"><%= books[i].author %> [<%= books[i].type %>]</div>
                <div class="other">
                  <% var p = books[i].point; %>
                  <% for(var j = 0; j < 5; j++) { %>
                    <% if(p> 1) { %>
                      <span class="star icon-star3"></span>
                      <% p--; %>
                    <% } else if(p == 0.5) { %>
                      <span class="star icon-star2"></span>
                      <% p = 0; %>
                    <% } else { %>
                      <span class="star icon-star"></span>
                    <% } %>
                  <% } %>
                  (<%= books[i].pointNum %>)
                </div>
              </div>
              <div class="edit">
                ￥<%= books[i].price %><br/>
                <% if(books[i].oldprice != -1) { %>
                <span class="oldPrice">￥<%= books[i].oldprice %></span>
                <div class="line"></div>
                <% } %>
                x <%= books[i].number %>
              </div>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>

      </div>
    </div>

    <script type="text/javascript">
      $('.<%=type%>').addClass('active');
      $('#<%=type%>').addClass('active');
    </script>

  </body>
</html>
